.chat_main
  .chat_main__group_info
    .chat_main__group_info__left_box
      %h2.group 
        = @group.name

      .chat_main__group_info__left_box__member_list
        Member :&nbsp
        - @group.users.each do |user|
          .members
            = user.name
    .chat_main__group_info__edit_btn
      = link_to "Edit" , edit_group_path(current_user) ,class: "edit_btn" 

  .chat_main__message_list
    .messages
      = render @messages

  .chat_main__send_form
    .form
      = form_for [@group, @message], html: { class: "zzz" }  do |f|
        = f.text_field :content, class: "text", placeholder: 'type a message'
        .form__mask
          = f.label :image do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: "send"

